/* PC screen */
@media (min-width:1024px){

}

/* Tablet screen */

@media (min-width: 740px and max-width: 1023px) {

}

/* Mobile screen */
@media (max-width: 740px) {
    #nav > li{
        display: block;
    }
}