* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    width: 100%;
    height: 46px;
    background-color: #000;
}

#nav {

}

#nav, .subnav{
    list-style-type:none;
}

#nav >  li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    position: relative;
}

#nav > li:hover > a,  #nav .subnav a:hover{
    background-color: #ccc;
    color: #000;
    
}

#nav .subnav {
    position: absolute;
    box-shadow: 7px 10px 15px #ccc;
    min-width: 160px;
    display: none;
}

#nav .subnav a {
    color: #000;
}

#nav li:hover .subnav {
    display: block;
}

#nav li i {
    display: inline-block;
}

#slider{
    height: 500px;
    /* background-color: #333; */
}

#container{

}

#footer{

}
