* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-family: Arial, Helvetica, sans-serif;
}
.clear  {
    clear: both;
}

.white-text {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.col {
    float: left;
}
.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mbt-16 {
    margin-bottom: 16px !important;
}

/* Main */
#main{

}
/* CSS  Header */
#header{
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    box-sizing: inherit;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    /* z-index: 1; */
}

#nav {
    display: inline-block;
    z-index: 1;
}

#nav, .subnav{
    list-style-type:none;
}

#nav >  li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    position: relative;
}

#nav > li:hover > a,  #nav .subnav a:hover{
    background-color: #ccc;
    color: #000;
    
}

#nav .subnav {
    position: absolute;
    box-shadow: 7px 10px 15px #ccc;
    min-width: 160px;
    display: none;
}

#nav .subnav a {
    color: #000;
    background-color: #fff;
}

#nav li:hover .subnav {
    display: block;
}

#nav li i {
    display: inline-block;
}

#header .search-btn {
    display: inline-block;
    float: right;
    padding: 14px 24px;
    color: #fff;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336!important;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/images/chicago.jpg') top center / cover no-repeat;
    position: relative;
    z-index: -1;
}

#slider .text-slider {
    left: 50%;
    bottom: 0;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

#slider .slider-heading, .slider-description {
    text-align: center;
    color: #fff;
}

#slider .slider-heading {
    margin: 10px;
    font-size: 24px;
    font-weight: 400;;
}

#container{

}

#container .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

#container  .section-heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 48px;
}


#container  .section-sub-heading {
    text-align: center!important;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 70%;
}

#container .about-content {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
}

#container .member-list{
    margin-top: 48px;
    margin-bottom: 48px;
}

#container .member-item {
    display: inline-block;
    float: left;
    width: 33.33333%;
    text-align: center;
    overflow: hidden;
}


#container .member-avatar {
    width: 154px;
    height: 154px;
    border-radius: 4px;
}

#container .tour-section {
    background-color: #000;
}

.ticket-list {
    margin-top: 40px;
}

.ticket-list li {
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5;
    padding: 16px 8px;
    border-bottom: 1px solid rgb(221, 221, 221);;
    color: #757575;
    list-style-type: none;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    
}

.ticket-list .remaining-ticket {
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;

}

.ticket-order-list{
    margin-top: 20px;
}

.ticket-order{
    background-color: #fff;
    width: 33.33333%;
    float: left;
    display: inline-block;
    padding: 0 8px;
}

.order-img{
    vertical-align: middle;
    width: 100%;
}

.order-img:hover{
    opacity: 50%;
}

.order-content {
    padding: 0 16px;
    box-sizing: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-heading{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-sub-heading{
    font-size: 15px;
    line-height: 1.5;
    color: #757575;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-description{
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.order-btn{
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.order-btn:hover  {
    background-color: #ccc;
    color: #000;
}

#footer{

}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,40%);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container{
    padding-top: 100px;
    width: 900px;
    display: block;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .45s;  

}

.close-top-btn{
    float: right;
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
}

.close-top-btn:hover {
    color: #000;
    background-color: #ccc;
}

.modal-header{
    background-color: #009688;
    color: #fff;
    padding: 32px 16px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
}

.modal-content{
    background-color: #fff;
    display: block;
    padding: 16px;
    /* min-height: 340px; */
}

.modal-label  {
    display: block;
    /* margin: 15px 0; */
    font-size: 15px;
    line-height: 1.5;
    padding: 15px
}

.modal-input{
    padding: 8px;
    height: 40px;
    width: 100%;
}

.pay-btn  {
    background-color: #009688;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    float: none;
    border: none;
}

.close-bottom-btn{
    margin: 16px 0;
    padding: 8px 16px;
    background-color: #f44336;
    color: #fff;
    display: inline-block;
    text-align: center;
}

.close-bottom-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.contact-info {
    font-size: 18px;
    line-height: 1.6;
}

.contact-info i {
    width: 25px;
}

.form-control {
    font-size: 15px;
    padding: 8px;
    height: 40px;
    border: 1px solid #ccc;
}

.contact-email {
    width: 100%;

}

.form-submit {
    float: right;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border: none;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}