* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.clear  {
    clear: both;
}

#main{

}

#header{
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    box-sizing: inherit;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type:none;
}

#nav >  li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    position: relative;
}

#nav > li:hover > a,  #nav .subnav a:hover{
    background-color: #ccc;
    color: #000;
    
}

#nav .subnav {
    position: absolute;
    box-shadow: 7px 10px 15px #ccc;
    min-width: 160px;
    display: none;
}

#nav .subnav a {
    color: #000;
    background-color: #fff;
}

#nav li:hover .subnav {
    display: block;
}

#nav li i {
    display: inline-block;
}

#header .search-btn {
    display: inline-block;
    float: right;
    padding: 14px 24px;
    color: #fff;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336!important;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/images/chicago.jpg') top center / cover no-repeat;
    position: relative;
    /* z-index: -1; */
}

#slider .text-slider {
    left: 50%;
    bottom: 0;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

#slider .slider-heading, .slider-description {
    text-align: center;
    color: #fff;
}

#slider .slider-heading {
    margin: 10px;
    font-size: 24px;
    font-weight: 400;;
}

#container{

}

#container .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

#container  .section-heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 48px;
}


#container  .section-sub-heading {
    text-align: center!important;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 70%;
}

#container .about-content {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
}

#container .member-list{
    margin-top: 48px;
    margin-bottom: 48px;
}

#container .member-item {
    display: inline-block;
    float: left;
    width: 33.33333%;
    text-align: center;
    overflow: hidden;
}

#container .member-name {
    
}

#container .member-avatar {
    width: 154px;
    height: 154px;
    border-radius: 4px;
}

#footer{

}
